/* Author: Patrick Rowe */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
    --dark-grey: #0a0a23;
    --white: #ffffff;
    --button-size: 40px;
    --slider-size: 75px;
}

html {
    overflow: hidden;
}
  
label {
    text-shadow: 1px 0 1px #555, 0 -1px 1px #555, 0 1px 1px #555, -1px 0 1px #555;
    font-size: 1.25rem;

    margin-left: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
}


.controls-header {
    text-shadow: 1px 0 1px #555, 0 -1px 1px #555, 0 1px 1px #555, -1px 0 1px #555;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 25px;
    }
}

.controls {
    position: absolute;
    height: 100vh;
    width: 75vw;
    left: 0;
    padding-left: 15px;
    padding-top: 15px;
}

.controls-container {
    margin: 5px;
    width: 75vw;
}

.extents-container {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: 0px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: var(--slider-size); 
    height: var(--slider-size);
    outline: 1px solid white; 

    /* Fix vertical; don't rotate to match the clock rotation */
    /* Messes with controls */
    transform: rotate(270deg) !important;

    border-radius: 100%;
    display: block;

    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: hidden;
        width: 0px;
        height: 0px; 
        background: transparent; 
        border: transparent;
        cursor: pointer; 
    }

    &::-moz-range-thumb {
        width: 0px; 
        height: 0px; 
        background: transparent; 
        cursor: pointer; 
        border: transparent;
    }
}

.button-grp button {
    color: white; /* White text */
    height: var(--button-size);
    width: var(--button-size);
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border: 1px solid white; /* Gray border */
    background-color: transparent;
    border-radius: 100pc;
    margin: 5px;
    transition: 0.5s;
  }
  
  /* Clear floats (clearfix hack) */
.button-grp:after {
    content: "";
    clear: both;
    display: table;
}

.button-grp:last-of-type {
    padding-bottom: 20px;
}
  
  /* Add a background color on hover */
.button-grp button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-selected {
    transform: scale(0.75) !important;
    transition: 0.5s;
}

.hidden {
    display: none;
}

.controls-button-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0;
    padding: 15px;
    margin: 10px;

    &:hover {
        cursor: pointer;
    }

}

.controls-button {
    height: var(--button-size);
    width: var(--button-size);
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 100pc;
    float: left;
    border: 1px solid white;
    margin: 5px;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

.blend-button {
    position: relative;
    border-radius: 100%;
    top:  -1px !important;
    left: -1px !important;
    margin: 0px !important;
    padding: 0px !important; 
    
}

.cap {
    height: inherit;
    width: inherit;
    position: relative;
    border-radius: 100%;
    top:  -1px !important;
    left: -1px !important;
    margin: 0px !important;
    padding: 0px !important; 
    background-color: transparent;
    border: 1px solid white;
}

.blend-button .hour,
.blend-button .minute {
    position: absolute;
    border: 1px solid white;
}

